.copy_right_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
}

img:hover{
    border-radius: 140px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

img{
  width: 30%;
}

h1{
    font-style: monospace;
    font-weight: 150;
}

#camera{
  width: 500px;
  height: 400px;
  border: 2px solid black;
  
}

#instruction{
  color: red;
}